
{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <h1>Add</h1>
    <h1>
      Please select age and gender to get favorite music genere prediction
    </h1>
    <hr />
    <form method="POST" action="">
      <div>
        <label
          >age: <input type="number" value="20" min="0" max="100" name="age"
        /></label>
        genre: <input   name="genre">
      </div>
      <div>
        <p>Please select your gender:</p>
        <input type="radio" id="male" name="gender" value="0" checked />
        <label for="html">MALE</label><br />
        <input type="radio" id="female" name="gender" value="1" />
        <label for="css">FEMALE</label><br />
      </div>

      <input type="submit" value="Submit" />
    </form>
    <hr />
    <h1>{{msg}}</h1>
    <p class="important">
        Welcome to my awesome homepage.
    {% endblock %}